body{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin:0;
}

.intro-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.title-first-part{
    margin-bottom:-27px;
}

:root{
    --background-color: #ECFDF5;
    --second-title-color: #10B981;
    --paragraph-color: #6B7280;
}

.dark-theme {
    --background-color: #1F2937;
    --text-color: white;
    --paragraph-color: #D5D4D8;
    --second-title-color: #4ADF86;
}

.title-second-part {
    color: var(--second-title-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

p {
    color: var(--paragraph-color);
    transition: color 0.3s;
    margin-top: -5px;
}

.button-password-generator{
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #10B981; 
    border-radius: 4px; 
    background-color: #10B981; 
    color: white;
    text-align: center; 
    text-decoration: none; 
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.theme-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.toggle-switch {
    position: relative;
    width: 48px; 
    height: 25px; 
    background-color: #1F2937;
    border-radius: 25px; 
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    margin-left:-20px;
}


.toggle-switch::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px; 
    height: 21px; 
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}


body.dark-theme .toggle-switch {
    background-color: #898484;
}

body.dark-theme .toggle-switch::before {
    transform: translateX(23px); 
}

.passwords{
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;

}

.password{
    background-color: #273549;
    color:#56D789;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px; 
    margin:2px;
}